@import '~bootstrap/scss/bootstrap';

.border {
  border: 5px solid black;
  margin: 20px;
  padding: 20px;
}

form {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}

.game-page {
  display: none;
  padding: 0 20 20 20
}

#currentPlayer {
  padding: 0;
  text-align: center;
}

.container-fluid {
  height: 90vh;
  width: 100vw;
}

.row {
  margin-left: 20px;
  margin-right: 20px
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: lightgrey;
  color: white;
  height: 30vh;
  width: 32vw;
  opacity: 0.3;
}

#new-game-button {
  width: 60vw;
  position: absolute;
  top: 41vh;
  left: 31vw;
  margin: 0
}

#new-game-button > button {
  float: inherit;
  height: 12vh;
  width: 38vw;
  font-size: 36px;
}
